import { buttonClass, type ButtonClassProps } from "./recipes";
export type Input = Marko.Input<"button"> & ButtonClassProps;

<const/{ size, variant, class: className, ...rest }=input/>

<const/recipeResult=buttonClass({
  className,
  size,
  variant,
})/>

<button ...rest class=recipeResult>
  <${input.renderBody}/>
</button>
