<h2>Switch</h2>

<let/isVisible=true/>

<let/isChecked=false/>

<if=isVisible>
  <app-switch
    id="switch"
    onCheckedChange({ checked }) { isChecked = checked; }
    checked=isChecked
  >
    Switch
  </app-switch>
</if>
<!-- <pre>${JSON.stringify(
  {
    isChecked: api.isChecked,
    isDisabled: api.isDisabled,
    isFocused: api.isFocused,
  },
  null,
  2
)}</pre> -->

<button onClick() { isVisible = !isVisible; }>
  Toggle
</button>
