<examples-layout>
  <@item title="Switch">

    <id/switchId/>

    <app-switch/api id=switchId>
      Switch
    </app-switch>

    <pre>${JSON.stringify(
      {
        isChecked: api.isChecked,
        isDisabled: api.isDisabled,
        isFocused: api.isFocused,
      },
      null,
      2
    )}</pre>
  </@item>
</examples-layout>
