<h2>Checkbox</h2>

<app-checkbox/api id="checkbox">
  Input
</app-checkbox>

<pre>${JSON.stringify(
  {
    checkedState: api.checkedState,
    isChecked: api.isChecked,
    isDisabled: api.isDisabled,
    isFocused: api.isFocused,
    isIndeterminate: api.isIndeterminate,
  },
  null,
  2
)}</pre>
