<examples-layout>
  <@item title="Checkbox">
    <id/checkboxId/>

    <app-checkbox/api|ref| id=checkboxId>
      <if=ref.isChecked>
        On
      </if>
      <else>Off</else>
    </app-checkbox>

    <pre>${JSON.stringify(
      {
        checkedState: api.checkedState,
        isChecked: api.isChecked,
        isDisabled: api.isDisabled,
        isFocused: api.isFocused,
        isIndeterminate: api.isIndeterminate,
      },
      null,
      2,
    )}</pre>
  </@item>
</examples-layout>
