export type Input = ({
  item: Marko.RepeatableAttrTag<{ 
    renderBody: Marko.Body;
    title: string;
  }>;
}
);

<ul class="w-full p-8">
  <for|item| of=input.item>
    <li class="flex flex-col gap-4 w-full">
      <h2 class="text-xl">${item.title}</h2>
      <div class="grid grid-cols-2 gap-4 w-full">
        <${item.renderBody}/>
      </div>
    </li>
  </for>
</ul>
