import { buildPath } from "../../utils/paths";

<nav>
  <ul>
    <li>
      <a href=buildPath({ path: "/" })>
        Home
      </a>
    </li>
    <li>
      <a href=buildPath({ path: "/menu" })>
        Menu
      </a>
    </li>
  </ul>
</nav>
