<use-machine/machine/>
<!-- <pre>${JSON.stringify(machine, null, 2)}</pre> -->
<!-- </use-machine> -->
<const/onClick=(
  () => {
    console.log(1);
    // send();
  }
)/>
<button onClick=onClick>
  Click
</button>
<span>${machine}</span>
<span>Menu</span>
